//색깔 변수
$main-color: #222;
$sub-color: #534cbf;
$white: #FFF; //main-font-color
$sub-font-color: #777;

//폰트굵기
$black: 900;
$bold: 700;
$medium: 500;

//breakPoint
$break-desktop: 1440px;
$break-tablet-large: 1180px;
$break-tablet-small: 820px;
$break-mobile: 415px;

//미디어쿼리
@mixin desktop {
    @media (max-width: #{$break-desktop}) {
      @content;
    }
}

@mixin tablet-large {
    @media (max-width: #{$break-tablet-large}) {
      @content;
    }
}

@mixin tablet-small {
    @media (max-width: #{$break-tablet-small}) {
      @content;
    }
}

@mixin mobile {
    @media (max-width: #{$break-mobile}) {
      @content;
    }
}

//스타일 정의
@mixin flex-box ($direction:row,$align:center,$justify:center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin position-box ($position:absolute,$left:null,$right:null,$top:null,$bottom:null) {
    position: $position;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

@mixin cut-text {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
}