@import "./globalStyle";
html { font-size: 62.5%; }
body { background-color: $main-color; }
* { font-family: 'NotoSans',sans-serif;font-size:1.6rem;color: $white; }
.container { width: 65.3vw; }
.highlight { color: $sub-color; }
.row-box { @include flex-box; }
.common-btn { 
    width: 20rem;height: 5rem;
    &.basic { background-color: $white;color: $sub-font-color; }
    &.border { border: 1px solid $white;color: $white; }
    &.highlight { background-color: $sub-color;color: $white; }
}

//header
header { 
    @include position-box($top:0);@include flex-box($justify:space-between);width:100%;height:11rem;padding: 0 5rem;
    img { width: 8vw; }
}

//footer
footer { 
    height:7rem;text-align:center;margin:5rem 0;
    * { font-size:1.2rem;color:$sub-font-color; }
    a {
        &:hover { text-decoration:underline; }
    }
}

.top-btn {
    @include position-box(fixed,$right:3rem,$bottom:3rem);width:6rem;height:6rem;border:2px solid $white;border-radius:50%;transition:.3s;
    svg { width:3rem;height:3rem;transition:.3s; }
    &:hover {
        background-color:$white;
        svg { fill:$sub-color; }
    }
}

@include tablet-large {
    * { font-size: 1.4rem; }
    .container { width:75vw; }
    .pc-only { display:none; }
    .common-btn { width:18rem; }
    header { height: 8rem;padding: 0 4rem; }
}

@include tablet-small {
    * { font-size: 1.2rem; }
    .common-btn { width:12rem; }
    footer { 
        * { font-size: 1rem; }
    }
    .top-btn { 
        right: 2rem;bottom:2rem;width: 5rem;height: 5rem; 
        svg { width:2.5rem;height:2.5rem; }
    }
}

@include mobile {
    * { font-size: 1rem; }
    header {
        padding: 2rem;
        img { width: 17vw; }
    }
    .top-btn { 
        right: 0;bottom:0;width: 4rem;height: 4rem;background-color:$white;border-radius:0;
        svg { width:2rem;height:2rem;fill:$sub-color; }
    }
}