@import "./globalStyle";
html { font-size: 62.5%; }
body { background-color: $main-color; }
* { font-family: 'NotoSans',sans-serif;font-size:1.6rem;color: $white; }
.container { width: 114rem; }
.highlight { color: $sub-color; }
.row-box { @include flex-box; }

//header
header { 
    @include position-box($top:0);
    ul { @include flex-box; }
}

//footer
footer { 
    text-align:center;margin:5rem 0;
    * { font-size:1.2rem;color:$sub-font-color; }
    a {
        &:hover { text-decoration:underline; }
    }
}