@import './globalStyle';
.movie-main {
    @include flex-box(column,$justify:flex-start);max-width:100vw;min-height:100vh;
    .title-box { 
        width:100%;
        h1 { margin:-2.5rem 0 .5rem -.7rem;font-size: 10rem;font-weight: 900; }
    }
    .main-wrapper { @include flex-box;width:100%;height:70rem;background: url('../../images/maim-img.png') no-repeat; }
}

//검색창
.search-form {
    @include flex-box($justify:space-between);width:100%;height:7rem;margin: 7rem 0 10rem;background-color:$white;border-radius:1rem;opacity: .8;
    * { color:$sub-font-color; }
    select { width:15rem;height:100%;padding:1rem;cursor:pointer; }
    input { width:calc(100% - 22rem);height:100%;padding:1rem; }
    button { 
        width:7rem;height:100%;cursor:pointer; 
        svg { width:3rem;height:3rem; }
    }
    label { @include position-box($left:-999em); }
}

//카드리스트
.card-box {
    @include flex-box(column);margin:10rem 0;
    .result-text { display:inline-block;width:100%; }
    hr { width:100%;margin: 1.5rem 0 5rem; }
    .card-wrapper {
        @include flex-box($justify:flex-start);flex-wrap:wrap;gap:100px 1%;width:100%;min-height:20rem;
        .card { width:19.2%; }
        h4 { margin-top:1rem;@include cut-text;font-weight: 400; }
        img { width:100%;height:315px;object-fit:cover;border-radius: .5rem; }
    }
    .text-wrapper {
        width:100%;text-align:center;
        strong { 
            margin-bottom:5rem;font-size:3.5rem;font-weight:700; 
            span { font-size:3.5rem; }
        }
        p { margin-top:5rem;font-size: 2rem;font-weight:500; }
    }
    .more-btn { width:20rem;height:5rem;margin-top:10rem;border:1px solid $white;cursor: pointer; }
}

//상세보기
.detail-box {
    @include flex-box($align:flex-start);margin:10rem 0;
    .row-box { 
        align-items:flex-start;justify-content: flex-start;width:100%; 
        .text-wrapper { 
            @include flex-box(column,flex-start,flex-start);width: calc(100% - 40rem); 
            button { 
                @include flex-box;align-self: flex-end;height:3rem;margin-bottom:2rem;cursor: pointer;
                svg { width:2.5rem;height:2.5rem;margin-right: 1rem; }
            }
            hr { width: 100%; }
        }
        > img { width: 30rem;margin-right:10rem;margin-top:5rem;border-radius: 1.5rem;filter: drop-shadow(5px 5px 8px rgb(0,0,0)); }
    }
    h2 { font-size: 4rem; }
    .info-list {
        li {
            color: $sub-font-color;
            &::after { content: 'ㆍ';margin:0 5px; }
            &:last-child {
                &::after { content: ''; }
            }
        }
    }
    hr { margin: 2rem 0; }
    strong { font-size: 1.8rem;}
    .info-wrapper{ 
        margin: 1.5rem 0;
        .row-box { 
            margin: 1rem 0; 
            > ul { 
                width:50rem;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;
                &.on { -webkit-line-clamp:unset; }
                li { display:inline; }
            }
        }
        span { display:inline-block;width:8rem;color: $sub-font-color; }
        .basic-btn { margin-left:8rem; }
    }
    .content-wrapper { 
        margin: 10rem 0;
        h3 { font-size: 2.4rem; }
        p { word-wrap: break-word;white-space:pre-wrap; }
        .poster-slide {
            img { width:25rem;height:35rem;object-fit: cover; }
        }
    }
    .swiper-slide { @include flex-box;}
    .swiper-button-prev,.swiper-button-next {color:$white; }
    .link-btn{ 
        @include flex-box;width:100%;height:7rem;background-color:$sub-color;font-size:2rem;font-weight:500; 
        svg { width:2.5rem;height:2.5rem;margin-left: 1rem; }
    }
}