@import './globalStyle';
:root {
    --cardCount:5;
}
.movie-main {
    @include flex-box;height:100vh;background: url('../../images/maim-img.png') no-repeat center/cover;
    .container { margin-bottom: 10rem; }
    .title-box { 
        width:100%;
        h1 { margin:-2.5rem 0 .5rem -.7rem;}
        .highlight { font-size: 10rem;font-weight: 900;  }
    }
}

//검색창
.search-form {
    @include flex-box($justify:space-between);width:100%;height:7rem;margin-top: 7rem;background-color:$white;border-radius:1rem;opacity: .8;
    * { color:$sub-font-color; }
    select { width:13.2%;height:100%;padding:1rem;cursor:pointer; }
    input { width:80.6%;height:100%;padding:1rem; }
    button { 
        @include flex-box;width:6.2%;height:100%;
        svg { width:50%;height:50%; }
    }
    label { @include position-box($left:-999em); }
}

.movie-search { @include flex-box;margin: 6rem 0 5rem; }

//카드리스트
.card-box {
    @include flex-box(column);margin:10rem 0;
    .result-text { display:inline-block;width:100%; }
    hr { width:100%;margin: 1.5rem 0 5rem; }
    .card-wrapper {
        @include flex-box($justify:flex-start);flex-wrap:wrap;gap:100px 1%;width:100%;min-height:20rem;
        .card { width:calc(96% / var(--cardCount)); }
        h4 { margin-top:1rem;@include cut-text; }
        img { width:100%;height:20vw;object-fit:cover;border-radius: .5rem; }
    }
    .text-wrapper {
        width:100%;text-align:center;
        strong { 
            margin-bottom:5rem;font-size:3.5rem;font-weight:700; 
            .highlight { font-size:3.5rem; }
        }
        p { margin-top:5rem;font-size: 2rem;font-weight:500; }
    }
    .common-btn { margin-top:10rem; }
}

//상세보기
.detail-box {
    @include flex-box($align:flex-start);margin:10rem 0;
    .detail-btn { padding:.7rem 1rem;border-radius:.5rem;background-color:$sub-color;font-size: 1.4rem; }
    .row-box { 
        align-items:flex-start;justify-content: flex-start;width:100%; 
        .text-wrapper { 
            @include flex-box(column,flex-start,flex-start);width: calc(100% - 22.2vw); 
            > button { 
                @include flex-box;align-self: flex-end;height:3rem;margin-bottom:2rem;
                svg { width:2.5rem;height:2.5rem;margin-right: 1rem; }
            }
            hr { width: 100%; }
        }
        > img { width: 17.2vw;margin-right:5.2vw;margin-top:5rem;border-radius: 1.5rem;filter: drop-shadow(5px 5px 8px rgb(0,0,0)); }
    }
    h2 { font-size: 4rem; }
    .info-list {
        li {
            color: $sub-font-color;
            &::after { content: 'ㆍ';margin:0 5px; }
            &:last-child {
                &::after { content: ''; }
            }
        }
    }
    hr { margin: 2rem 0; }
    strong { font-size: 1.8rem; }
    .info-wrapper{ 
        margin: 1.5rem 0;
        .row-box { 
            margin: 1rem 0; 
            > ul { 
                width:45rem;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;
                &.on { -webkit-line-clamp:unset; }
                li { display:inline; }
            }
        }
        span { display:inline-block;width:8rem;color: $sub-font-color; }
        .detail-btn { margin-left:8rem; }
    }
    .content-wrapper { 
        margin: 10rem 0;
        h3 { font-size: 2.4rem; }
        p { word-wrap: break-word;white-space:pre-wrap; }
        .poster-slide {
            img { width:20vw;height:20vw;object-fit: cover; }
        }
    }
    .swiper-slide { @include flex-box;}
    .swiper-button-prev,.swiper-button-next {color:$white; }
    .link-btn{ 
        @include flex-box;width:100%;height:7rem;background-color:$sub-color;font-size:2rem;font-weight:500; 
        svg { width:2.5rem;height:2.5rem;margin-left: 1rem; }
    }
}

//잘못된 접근
.not-found-main {
    @include flex-box(column);height: 100vh;
    strong { font-size: 5rem;font-weight: 900; }
    p { margin:5rem 0 8rem;text-align: center;font-size: 2rem;font-weight: 500; }
    .common-btn { margin:0 .5rem; }
}

@include tablet-large {
    :root {
        --cardCount:4;
    }
    
    .movie-main {
        .main-wrapper { height:47rem; }
        .title-box{
            .highlight { font-size:8.5rem; }
        }
    }
    
    .search-form { height:6rem;margin-top:5rem; }

    .card-box {
        margin: 7rem 0;
        .card-wrapper {
            gap: 80px 1%;
            img { height:27vw; }
        }
        .text-wrapper { 
            strong,.highlight { font-size:2.5rem; }
            p { margin-top:3rem;font-size: 1.8rem; }
        }
    }

    .detail-box {
        .detail-btn { font-size: 1.2rem; }
        .row-box {
            .text-wrapper { 
                width: calc(100% - 29.8vw); 
                > button { display: none; }
            }
            > img { width: 23vw;margin-top:0;margin-right: 6.8vw; }
        }
        h2 { font-size: 3rem; }
        strong { font-size: 1.8rem; }
        .info-wrapper {
            .row-box {
                > ul { width:32rem; }
            }
        }
        .content-wrapper {
            margin:8rem 0;
            h3 { font-size:2.2rem; }
            .poster-slide {
                img { height: 25vw; }
            }
        }
        .link-btn { 
            font-size: 1.8rem; 
            svg { width: 2rem;height: 2rem; }
        }
    }

    .not-found-main { 
        img { width: 20vw; }
        strong { font-size: 3.5rem; }
        p { font-size: 1.8rem; }
    }
}

@include tablet-small { 
    :root {
        --cardCount:3;
    }
    .movie-main {
        .main-wrapper { height: 45rem; }
        .title-box {
            .highlight { margin-top:-2rem;font-size: 6.5rem; }
        }
    }
    .search-form {
        select { width: 20%; }
        input { width: 71.2%; }
        button { width: 9.8%; }
    }
    .card-box {
        margin: 5rem 0;
        .card-wrapper {
            img { height: 37vw; }
        }
    }
    .detail-box {
        h2 { font-size: 2.5rem; }
        strong { font-size: 1.4rem; }
        .info-wrapper {
            .row-box {
                > ul { width: 25rem; }
            }
        }
        .content-wrapper {
            h3 { font-size: 1.9rem; }
        }
        .link-btn { font-size: 1.6rem; }
    }
}

@include mobile {
    :root {
        --cardCount:2;
    }
    .movie-main {
        .main-wrapper { height: 40rem; }
        .title-box {
            .highlight { margin:-10px 0 5px -2px;font-size: 4rem; }
        }
    }
    .search-form {
        height: 50px;
        select { padding:5px; }
        input { width:65%;padding:5px; }
        button { 
            width:15%; 
        }
    }
    .card-box {
        hr { margin: 10px 0 30px; }
        .card-wrapper {
            gap: 30px 1%;
            img { height: 52vw; }
        }
        .common-btn { margin-top: 5rem; }
    }
    .detail-box {
        .row-box {
            &.first { flex-direction:column; }
            .text-wrapper { width:100%; }
            > img { width: 100%;margin:0;margin-bottom: 2rem; }
        }
        h2 { font-size: 2rem; }
        .info-wrapper{ 
            .row-box {
                > ul { width: 20rem; }
            }
            span { width:6rem; }
            .detail-btn { margin-left: 6rem; }
        }
        .content-wrapper { 
            margin: 5rem 0;
            h3 { font-size: 1.6rem; }
            .poster-slide {
                img { width:100%;height: 100%; }
            }
        }
        .link-btn { font-size: 1.4rem; }
    }

    .not-found-main { 
        img { width: 30vw; }
        strong { font-size: 1.8rem; }
        p { margin:2rem 0 3rem;font-size: 1.2rem; }
    }
}